/* Add here all your css styles (customizations) */
body {
	/* 	padding-right: 0px !important; */
	
}

.modal-msg {
	font-size: 1.2em;
}

.text-error {
	color: red;
}

div tag1 {
 background-color: #3cb371 !important;
 color: #FFFFFF !important;
}