<?xml version="1.0" encoding="UTF-8" ?>
    <!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="cacheEnabled" value="true" />
		<!-- <setting name="lazyLoadingEnabled" value="true" /> -->
		<!-- <setting name="multipleResultSetsEnabled" value="true" /> -->
		<!-- <setting name="useColumnLabel" value="true" /> -->
		<setting name="defaultExecutorType" value="REUSE" />
		<setting name="defaultStatementTimeout" value="60" />
	</settings>

	<plugins>
		<!-- com.github.pagehelper為PageHelper類所在包名 -->
		<plugin interceptor="com.github.pagehelper.PageHelper">
			<!-- 4.0.0以後版本可以不設置該參數 -->
			<!-- <property name="dialect" value="mysql" /> -->

			<!-- 該參數默認為false -->
			<!-- 設置為true時，會將RowBounds第一個參數offset當成pageNum頁碼使用 -->
			<!-- 和startPage中的pageNum效果一樣 -->
			<property name="offsetAsPageNum" value="true" />

			<!-- 該參數默認為false -->
			<!-- 設置為true時，使用RowBounds分頁會進行count查詢 -->
			<property name="rowBoundsWithCount" value="true" />

			<!-- 設置為true時，如果pageSize=0或者RowBounds.limit = 0就會查詢出全部的結果 -->
			<!-- （相當於沒有執行分頁查詢，但是返回結果仍然是Page類型） -->
			<property name="pageSizeZero" value="true" />

			<!-- 3.3.0版本可用 - 分頁參數合理化，默認false禁用 -->
			<!-- 啟用合理化時，如果pageNum<1會查詢第一頁，如果pageNum>pages會查詢最後一頁 -->
			<!-- 禁用合理化時，如果pageNum<1或pageNum>pages會返回空數據 -->
			<property name="reasonable" value="true" />

			<!-- 3.5.0版本可用 - 為了支持startPage(Object params)方法 -->
			<!-- 增加了一個`params`參數來配置參數映射，用於從Map或ServletRequest中取值 -->
			<!-- 可以配置pageNum,pageSize,count,pageSizeZero,reasonable,不配置映射的用默認值 -->
			<!-- 不理解該含義的前提下，不要隨便復制該配置 -->
			<!-- <property name="params" value="pageNum=start;pageSize=limit;" /> -->
		</plugin>


		<plugin interceptor="sys.mybatis.plugin.BaseDaoPlugin" />
		<!-- <plugin interceptor="sys.mybatis.plugin.PaginationPlugin" /> -->
		<plugin interceptor="sys.mybatis.plugin.ResultPlugin" />


	</plugins>

</configuration>